<%
function getColor(value){
    //value from 0 to 1
    var hue=((value)*80).toString(10);
    return ["hsl(",hue,",100%,75%)"].join("");
}
%>
<div class="card" >
  <div class="card-body">
    <h4 class="card-title">Languages Android</h4>
    <table>
      <tr>
        <th>Language</th>
        <th>Average</th>
        <th>#Reviews</th>
      </tr>
        <% androidLanguageStats.forEach(function(languageData) { %>
          <tr>
            <td>
              <%= languageData.language %>
            </td>
            <td class="trend" style="background: linear-gradient(to right, <%= getColor(languageData.average / 5) %> 0%, <%= getColor(languageData.average / 5) %> <%= (languageData.average / 5) * 100 %>%, transparent <%= (languageData.average / 5) * 100 %>%,  transparent <%= 100 - (languageData.average / 5) * 100 %>%);">
              <%= languageData.average.toFixed(2) %>
            </td>
            <td>
              <%= languageData.total %>
            </td>
          </tr>
          <% }); %>
    </table>
  </div>
</div>
