<!-- views/partials/navbar.ejs -->
<style type="text/css">

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.nav-item {
  margin-bottom: 0;
}

a {
  color: #00B083;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #1295B2;
  text-decoration: none;
}

.navbar {
  padding: 8px 16px;
  margin-bottom: 24px;
  min-height: 55px;
}

</style>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border-color: white;">
    <i class="fa fa-bars"></i>
  </button>
  <% if(appName === 'uGrow'){ %>
    <a class="navbar-brand" href="/<%= appName.toLowerCase() %>">
      <img src="/ugrow/logo.png" width="30" height="30" alt="">
    </a>
  <% } %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% const linkTypeAndroid = (page === 'Android') ? "nav-link active" : "nav-link"; %>
      <% const linkTypeIOS = (page === 'iOS') ? "nav-link active" : "nav-link"; %>
      <% const linkTypeGraph = (page === 'Graph') ? "nav-link active" : "nav-link"; %>
      <% const linkTypeStatistics = (page === 'Statistics') ? "nav-link active" : "nav-link"; %>
      <% const linkTypeHome = (page === 'Home') ? "nav-link active" : "nav-link"; %>
      <% if(appName !== 'uGrow'){ %>
        <li class="nav-item">
          <a class="<%= linkTypeHome %>" href="/<%= appName.toLowerCase() %>">Home</a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="<%= linkTypeAndroid %>" href="/<%= appName.toLowerCase() %>/android">Android</a>
      </li>
      <li class="nav-item">
        <a class="<%= linkTypeIOS %>" href="/<%= appName.toLowerCase() %>/ios">iOS</a>
      </li>
      <li class="nav-item">
        <a class="<%= linkTypeGraph %>" href="/<%= appName.toLowerCase() %>/graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="<%= linkTypeStatistics %>" href="/<%= appName.toLowerCase() %>/statistics">Statistics</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Countries
        <span class="caret"></span></a>
        <ul class="dropdown-content dropdown-menu">
          <% if ( typeof countries != 'undefined') { %>
            <% 	countries.forEach(function (country) { %>
            <% 	const countryCode = Object.keys(country)[0]; %>
            <% 	const countryName = country[countryCode];  %>
              <li><a href="/<%= appName.toLowerCase() %>/country/<%= countryCode.toLowerCase() %>"><big><%= countryName %></big></a></li>
            <% 	}); %>
          <% } %>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Versions
        <span class="caret"></span></a>
        <ul class="dropdown-content dropdown-menu">
          <% if ( typeof androidVersions != 'undefined') { %>
            <% 	androidVersions.forEach(function (version) { %>
              <li><a href="/<%= appName.toLowerCase() %>/android/version/<%= version.toLowerCase() %>"><big>Android <%= version %></big></a></li>
            <% 	}); %>
          <% } %>
          <% if ( typeof iosVersions != 'undefined') { %>
            <% 	iosVersions.forEach(function (version) { %>
              <li><a href="/<%= appName.toLowerCase() %>/ios/version/<%= version.toLowerCase() %>"><big>iOS <%= version %></big></a></li>
            <% 	}); %>
          <% } %>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Export
        <span class="caret"></span></a>
        <ul class="dropdown-content dropdown-menu">
          <li><a href="/<%= appName.toLowerCase() %>/export/csv"><big>csv</big></a></li>
          <li><a href="/<%= appName.toLowerCase() %>/export/json"><big>json</big></a></li>
          <li><a href="/<%= appName.toLowerCase() %>/export/xml"><big>xml</big></a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
