<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />
  <title><%- appName %> <%- platform %> Reviews</title>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.0/milligram.min.css">
  <link rel="icon" type="image/png" href="/<%= appName.toLowerCase() %>/images/favicon.png">
</head>

<body>
  <%- include('partials/navbar') %>

  <div class="container">
    <h2><%- appName %> <%- platform %></h2>
    <h3><%- numberOfReviews %> reviews with average rating of <%- averageScore.toFixed(2); %></h3>
    <% reviews.forEach(function(review){ %>
        <h5><%- review.getRatingText(); %> on <%- review.getFormattedReviewDate(); %></h5>
        <p>
            <%- review.reviewInfo.title?"<em>\"" + review.reviewInfo.title + "\"</em> - " : ""; %><%- review.reviewInfo.author ? review.reviewInfo.author : ""; %><br>
            <%- review.reviewInfo.text %><br>
            <% if (review.appInfo.version && review.appInfo.versionCode) { %>
              <small>v <%- review.appInfo.version %> , <%- review.appInfo.versionCode %>, <%- review.getLocationText(); %></small><br>
              <span data-toggle="tooltip" data-placement="bottom" title="<%= review.getHumanFriendlyDeviceMetaData() %>">
              <small><%- review.getDeviceInfo(); %></small>
            </span>
            <% } else if (review.appInfo.version) { %>
              <small>v<%- review.appInfo.version %> , <%- review.getLocationText(); %></small>
            <% } else { %>
              <small><%- review.getLocationText(); %></small>
            <% } %>
            <% if (review.reviewInfo.developerCommentDateTime) { %>
              <blockquote><em>
              Philips responded on <%- review.getFormattedDeveloperReviewDate() %>
              <br>
              <%- review.reviewInfo.developerComment %>
            </em></blockquote>
            <% } %>

        </p>
    <% }); %>
  </div>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
    })
  </script>
</body>

</html>
